* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    min-height:100%;
    position:relative;
}
body {
    background-image: url(../image/rating.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-block: 45px;
    margin-inline: 40px;
    font-size: 20px;
}
nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    padding: 0 10px;
    position: relative;
    transition: 150ms ease-in-out;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 200px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.headings {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 150px;;
}

.rate-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1000px;
    }
}
input[type="text"] {
    padding: 10px;
    border-radius: 10px;
    border: none;
}
#ulasan {
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
button[type="submit"] {
    padding: 10px;
    padding-inline: 30px;
    border: none;
    background-color: #637CB5;
    color: white;
    border-radius: 10px;
    transition: 150ms ease-in-out;
}
button[type="submit"]:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
        color: #f90;
}
.rating label {
    display: inline-block;
    padding: 5px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}
.rating input {
    display: none;
}
.review-input {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
}